################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/retrospy_store_fix/bin/Debug/net7.0
